@import './base.css';

.body-class{
  /* background: linear-gradient(180deg, #0D0D0D 0%, #1a1919 50%, #0D0D0D 200%); */
  background: black;
  color: rgba(255, 255, 255, 0.829);
}
.btn-primary{
  background-color: #04be42;
  border: none;
}
.btn-primary:hover{
  background-color: #05aa3c;
}
h1 {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  
  top: -10px;
}
.greeting{
  align-items: center;
  text-align: center;
}
.container{
  display: flex;
  padding: 10px;
  align-items: center;
}
img{
  max-width: 400px;
}

/* default this vue gave me */


#app {
  
  
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(4, 190, 66);
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {
 
}
