@import './base.css';

.body-class{
  background-color: black;
  color: rgba(255, 255, 255, 0.829);
}

h1 {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  
  top: -10px;
}
.greeting{
  align-items: center;
  text-align: center;
}
.container{
  display: flex;
  padding: 10px;
  align-items: center;
}
img{
  max-width: 400px;
}

/* default this vue gave me */


#app {
  
  
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(4, 190, 66);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
 
}
