@import './base.css';

.body-class{
  /* This is our background gradient */
  background: linear-gradient(
    180deg,
    #1a1a1a 0%,
    #121212 85%,
    #101d10 95%,
    #0f260f 100%
  );


  color: rgba(255, 255, 255, 0.829);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  
  top: -10px;
}
.greeting{
  align-items: center;
  text-align: center;
}
.container{
  display: flex;
  padding: 10px;
  align-items: center;
}
img{
  max-width: 400px;
}

/* default this vue gave me */


#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding-left: 2rem;
  padding-right: 2rem;

  font-weight: normal;
}

main {
  flex: 1;
}

a,
.green {
  text-decoration: none;
  color: rgb(4, 190, 66);
  transition: 0.4s;
  padding: 3px;
}



@media (min-width: 1024px) {
 
}
